<div class="side-bar">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidebar-link">
        <i class="fa fa-home"></i> Home
    </a>
    <a routerLink="/template" routerLinkActive="active" class="sidebar-link">
        <i class="fa fa-file" style='font-size:1rem'></i> Templates
    </a>
    <a routerLink="/trash" routerLinkActive="active" class="sidebar-link">
        <i class="fa fa-trash"></i> Trash
    </a>
    <a routerLink="/history" routerLinkActive="active" class="sidebar-link">
        <i class="fa fa-history"></i> History
    </a>
</div>
