<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<section *ngIf="!loading">
    <app-side-bar></app-side-bar>
    <div class="content">
        <div class="overview">
            <h2>Overview</h2>
            <p>Total Emails Sent: {{ emails.length }}</p>
        </div>
        <div class="row">
            <ng-container *ngFor="let template of emails">
                <div class="template" >
                    <div class="head">
                        <p>{{template.title}}</p>
                    </div>
                    <p>{{template.to}}</p>
                </div>
            </ng-container>
        </div>
    </div>
</section>